@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'base/listas';
@import 'base/mixin';
@import 'base/variantes';

//estilos generales
html,
body{
    font-family: 'poppins';
    color: nth($list: $colores, $n:1 );
}
a{
    text-decoration: none;
}

//estilos particulares
.container{
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

//menu
#navbar{
    color: nth($list: $colores, $n:1 );
    
}
header {
    nav div h1{
            float: left;
            padding-top: 1rem;
            font-size: 1.2rem;
        }
    nav div h2{
        
        font-size: 2.5rem;
        float: right;
       
        
        section ul li{
            display: none;
            font-size: 0.8rem;
            color: nth($list: $colores, $n:1 );
            padding: 0.25rem;
        }
        
    }
}
header nav div h2:hover > section ul li{
    display: block;
}

.mainPrincipal{
    background: url('../img/fondo.gif');
    height: 27rem;
    background-repeat: no-repeat;
    background-size: cover;
    div {
        display: grid;
        grid-template-areas: 'parrafo'
                            'img';
        p{
            grid-area: parrafo;
            float: left;
            position: center;
            margin-top: 6rem;
            max-width:  12rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: bolder;
            color: nth($list: $colores, $n:2 );
            text-shadow: 0.1px 0.1px rgb(160, 160, 160);
        }
        img{
            grid-area: img;
            float: left;
            margin-top: 1.3rem;
            height: 8rem;
        }
    }
}
  
    .parrafo2{
        background-color: $color-principal;
        margin: 0.7rem;
        margin-top: -3.1rem;
        margin-bottom: 2rem;
        padding: 1.2rem;
        color: nth($list: $colores, $n:2 );
        float: center;
        .primerP{
        display: flex; 
        font-size: 0.8rem;
        }
        .misionH2{
            text-transform: uppercase;
            padding: 1.2rem 5rem 0.8rem 5rem;
        }
        .misionP{
            font-size: 0.8rem;
        }
    }
    .sectionPrincipal{
                display: contents;
                
        h3{
            padding-top: 1.3rem;
            margin-bottom: 0.2rem;
            @include flex-center;
            text-transform: uppercase;
            font-size: 1rem;
            background-color: nth($list: $colores, $n:3 );
        }
        h4{
            padding-top: 1.3rem;
            margin-bottom: 0.2rem;
            @include flex-center;
            text-transform: uppercase;
            font-size: 1rem;
            background-color: nth($list: $colores, $n:3 )
        }
        p{
            @include flex-center;
            padding: 0 1rem 0 1rem;
            background-color: nth($list: $colores, $n:3 );
            font-size: 0.8rem;           
        }
    }

footer{
    display: grid;
    div{
        justify-content: left;
        a img{
        margin: 0.8rem;
        }
    }
}

//main Servicios.html
.mainServicios{
    background: url(../img/fondo-servicios1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .parrafoPrincipal{
        max-width:  18rem;
        float: center;
        margin: 1rem 4rem 1rem 4rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: bolder;
        background-color:  nth($list: $colores, $n:3 );
        padding: 1rem 2rem;
    }
    div{
        display: grid;
        grid-template-areas: 'img1 ingles'
                        'frances img2'
                        'img3 italiano'
                        'portugues img4';
        .img1{
            grid-area: img1;
            height: 10rem;
            margin: 1rem;
        }
        .p1{
            grid-area: ingles;
            display: flex;
            align-items: center;
            margin: 1rem;
            @include letras;
        }
        .img2{
            grid-area: img2;
            height: 10rem;
            margin: 1rem;
        }
        .p2{
            grid-area: frances;
            display: flex;
            align-items: center;
            margin: 1rem;
            @include letras;
        }
        .img3{
            grid-area: img3;
            height: 10rem;
            margin: 1rem;
        }
        .p3{
            grid-area: italiano;
            margin: 1rem;
            display: flex;
            align-items: center;
            @include letras;
        }
        .img4{
            grid-area: img4;
            height: 10rem;
            margin: 1rem;
        }
        .p4{
            grid-area: portugues;
            margin: 1rem;
            display: flex;
            align-items: center;
            @include letras;
        }
    }
}

//main metodo.html
.mainMetodo{
    background-color:  nth($list: $colores, $n:3 );
    p{
        margin: 2rem 2.5rem;
        padding-top: 1rem;
        font-size: 0.9rem;
        font-weight: bold;
    }
}
.mainQuienesSomos{
    
    img{
        width: 100%;
        position: center;
    }
    p{
        margin: 2rem 2.5rem;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
}


//contacto
.mainContacto{
    background-color: nth($list: $colores, $n:3 );
    height: 25rem;
}
.formulario{
    margin: 1.2rem;
    legend{
        font-size: 2rem;
        background-color: $color-principal;
    }
    div{
        font-size: 0.8rem;
        margin: 1rem;
        padding-top: 0.5rem;
        input{
            max-width: 8rem;
        }
    }
    }
    
    @media screen and (min-width: 768px) {
        header nav div {
            h1{
                font-size: 2.5rem;
                margin-left: 3rem;
            }
            h2{
                font-size: 5rem;
                margin-right: 3rem;
                section ul li{
                    font-size: 1.3rem;
                }
            }
            
        }
        .mainPrincipal {
            height: 55rem;
            div{
                padding-top: 10rem;
                p {
                    font-size: 2rem;
                    max-width: 24rem;
                    
                }
                a img{
                    height: 12rem;
                }
            }
        }
        .parrafo2{
            margin: 1rem 3rem 1rem 3rem;
            margin-top: -4.5rem;
            margin-bottom: 2.7rem;
            padding: 2.3rem;
            display: block;
            .misionH2{
                padding: 1.3rem 12rem 1.3rem 12rem;
            }
            .primerP{
                font-size: 1.2rem;
            }
            .misionP{
                font-size: 1.2rem;
            }
        }
        
        .sectionPrincipal{
            display: contents;
            
            .titulo{
                @include flex-center;
                text-transform: uppercase;
                padding: 2rem;
                background-color: nth($list: $colores, $n:3 );
                margin: 0.2rem;
            }
            div{
                padding: 1rem 2rem 1rem 2rem;
                display: flex;
                grid-template-areas: 'cal exp val'
                                    'calP expP valP';
                background-color: nth($list: $colores, $n:3 );
                
                .calidad{
                    padding: 1rem;
                    grid-area: cal;
                    text-transform: uppercase;
                }
                .calidadP{
                    padding: 1rem;
                    grid-area: calP;
                    font-size: 1.2rem;
                }
                .experiencia{
                    padding: 1rem;
                    grid-area: exp;
                    text-transform: uppercase;
                }
                .experienciaP{
                    padding: 1rem;
                    grid-area: expP;
                    font-size: 1.2rem;
                }
                .valores{
                    padding: 1rem;
                    grid-area: val;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
                .valoresP{
                grid-area: valP;
                padding: 1rem;
                font-size: 1.2rem;
                }
            }
            
        }
        .mainServicios{
            .parrafoPrincipal{
                font-size: 1.2rem;
                max-width:  37rem;
                margin: 1rem 4rem 1rem 4rem;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-weight: bolder;
                background-color:  nth($list: $colores, $n:3 );
                padding: 2.5rem 1.8rem;
            }

            div{
                display: grid;
                grid-template-areas: 'img1 ingles'
                                    'frances img2'
                                    'img3 italiano'
                                    'portugues img4';
                justify-content: space-around;

                .img1{
                    grid-area: img1;
                    height: 25rem;
                    margin: 5rem;
                }
                
                .p1{
                    grid-area: ingles;
                    display: flex;
                    align-items: center;
                    margin: 1rem;
                    @include letras;
                    font-size: 1.9rem;
                }
                .img2{
                    grid-area: img2;
                    height: 25rem;
                    margin: 5rem;
                }
                .p2{
                    grid-area: frances;
                    padding-left: 15rem;
                    margin: 1rem;
                    @include letras;
                    font-size: 1.9rem;
                }
                .img3{
                    grid-area: img3;
                    height: 25rem;
                    margin: 5rem;
                }
                .p3{
                    grid-area: italiano;
                    margin: 1rem;
                    display: flex;
                    align-items: center;
                    @include letras;
                    font-size: 1.9rem;
                }
                .img4{
                    grid-area: img4;
                    height: 25rem;
                    margin: 5rem;
                }
                .p4{
                    grid-area: portugues;
                    margin: 1rem;
                    padding-left: 15rem;
                    @include letras;
                    font-size: 1.9rem;
                }
            }
        }

        .mainMetodo{
            p{
                font-size: 1.5rem;
                max-width: 65rem;
                margin-left: 4rem;
            }
        }

        .mainQuienesSomos{
            display: grid;
            grid-template-areas: 'parrafo img';
            p{
                grid-area: parrafo;
                padding: 2rem 2rem;
                font-size: 1.5rem;
            }
            img{
                grid-area: img;
                height: 45rem;
            }
        }
        
        .mainContacto{
            .formulario{
                margin: 2rem;
                legend{
                    font-size: 2.3rem;
                }
                div{
                    font-size: 1.5rem;
                    label{
                        font-size: 1.5rem;
                        padding-right: 1.5rem;
                    }
                    input{
                        max-width: 45rem;
                        font-size: 1rem;
                    }
                }
            }
        }

        footer{
            div a img{
                padding-top: 1.5rem;
                height: 4rem;
            }
        }
    }
    
    
    @media screen and (min-width: 1280px){
        .parrafo2{
            margin: 1rem 6rem 1rem 6rem;
            margin-top: -5.5rem;
            margin-bottom: 3.7rem;
            padding: 3.3rem;
            display: block;
            .misionH2{
                font-size: 1.8rem;
                padding-left: 23rem;
                padding-right: 23rem;
            }
            .primerP{
                font-size: 1.5rem;
            }
            .misionP{
                font-size: 1.5rem;
            }
        }
        
        .sectionPrincipal{
            h3{
                font-size: 1.8rem;
                font-weight: bolder;
            }
            div{
                h3{
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
                .valores{
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
                p{
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            
            }
            
        }
        .mainQuienesSomos{
            font-size: 1.4rem;
        }
    }